<h1><%= @band.name %></h2>
  <br><br>
  <a href="<%= edit_band_url(@band) %>">Edit This Band</a>
  <br><br>
  <form class="" action="<%= band_url(@band) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Band">
  </form>
<%= render 'footer' %>
